body {
    width: 100%;
    height: 100%;
    background : linear-gradient(#4286f4, #373B44) no-repeat fixed;
    overflow-x: hidden;
}

h1 {
    color: black;
    text-decoration: underline;
    font-size: xxx-large;
}

ul, p,figcaption {
    list-style: none;
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin-bottom: 25px;
}

h5 {
    text-align: justify;
    font-size: xx-small;
}

h2 {
    text-decoration: underline;
}

a:visited {
    color: midnightblue;
}

a {
    color: midnightblue;
}

.milieu {
    text-align: center;
}

figure {
    display: inline-block;
    padding-left: 50px;
}

.image {
   margin-left: 85px ;
}

.imagealt {
    margin-right: 85px ;
}

.image2 {
    margin-left: 250px;
}

div {
    width: 350px;
    margin: auto;
    text-align: center;
}

h4 {
    font-size: larger;
}

.marge {
    margin-bottom: 60px;
}

.margealt {
    margin-bottom: 30px;
}
.marge2 {
    margin-bottom: 20px;
}

.alignement {
    display: block;
}

.conteneurEspeces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: flex-start;
    width: 99%;
    height: fit-content;
}

.conteneurPoisson {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    width: 99%;
    height: fit-content;
}

.conteneur {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-around;
    width: 99%;
    height: fit-content;
}

.conteneurespece {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-around;
    width: 99%;
    height: fit-content;
}

.carteEspece {
    min-width: 35em;
    min-height: 25em;
    margin: 10px;
    background: rgba(255,255,255,0.7);
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.4);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
}

.carte-image {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 40%;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.creaturePict {
    width: 25em;
    height: 25em;
    display: block;
}

.carteEspece-Description {
    width: 40%;
    display: list-item;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style: none;
}

.creatureTitle {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

a:hover {
    color : blue;
}

.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: black;
}
.containerTab {
    padding: 20px;
    color: black;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}